#ignora directorios
bin/
build/
backup/
.cache/
visualstudio/
msvc/
CMakeFiles/
dist/
Documentos/
codeblocks/doxygen/
Testing/
test/
_CPack_Packages/
nbproject/
test/
Testing/
codeblocks/
codelite/
Pruebas/
mingw/
visualstudio/
Img-Orig/
.vs/
.vscode/
.vagrant/
.codelite/
.clang/
.clangd/

#ignora archivo objeto
*.o
*.a
*.so
*.gch
*.gcov
*.deb
*.exe
*.msi
*.pdb
Makefile
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
install_manifest.txt
prueba.txt
history.txt
.history
.lat_historial
compile_commands.json
compiling_error.txt
<scratch>
src/latino
src/liblatino.so
test_clases.lat
comando.md
build_config.log
build_log.txt
build_output.log